In [2]:
import pandas as pd

In [ ]:
url="https://raw.githubusercontent.com/cior666/Machine-Learning-III-Entrega/refs/heads/main/Data%20discovery/reviews.csv/reviews.csv"
df=pd.read_csv(url)
df.head()

,Time_submitted,Review,Rating,Total_thumbsup,Reply
0,2022-07-09 15:00:00,"Great music service, the audio is high quality...",5,2,NaN
1,2022-07-09 14:21:22,Please ignore previous negative rating. This a...,5,1,NaN
2,2022-07-09 13:27:32,"This pop-up ""Get the best Spotify experience o...",4,0,NaN
3,2022-07-09 13:26:45,Really buggy and terrible to use as of recently,1,1,NaN
4,2022-07-09 13:20:49,Dear Spotify why do I get songs that I didn't ...,1,1,NaN

In [ ]:
#procedemos a ver la info de las columnas que nos interesan
df[['Review', 'Rating']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61594 entries, 0 to 61593
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  61594 non-null  object
 1   Rating  61594 non-null  int64
dtypes: int64(1), object(1)
memory usage: 962.5+ KB

In [5]:
#ahora preparamos las columnas con las que queremos trabajar, como buena prÃ¡ctica eliminamos nulos
df = df[['Review', 'Rating']].dropna()
#tambien eliminamos valores neutros (mitad de puntaje) para evitar ambiguedades
df = df[df['Rating'] != 3]  
#procedemos a hacer la etiqueta binaria
df['sentiment'] = df['Rating'].apply(
    lambda x: 1 if x >= 4 else 0
)

In [10]:
#ahora procedemos a copiar las columnas que usamos y generar un nuevo archivo "limpio"
df_clean = df[['Review', 'Rating', 'sentiment']].copy()
df_clean.to_csv(r"C:\Users\silvi\OneDrive\Escritorio\Carrera Data Science\Machine Learning III Entrega\Data discovery\spotify_reviews_clean.csv",index=False)